@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="animated-header_1">Booking Software Demo</h1>
</div>

<hr>
<hr>

<div class="row">
    <div class="col-md-6">
        <h2>Key Features</h2>
        <ul>
            <li>Easy appointment scheduling</li>
            <li>Automated email and text reminders</li>
            <li>Online booking with payment integration</li>
            <li>Customizable booking forms</li>
        </ul>
        <a class="btn btn-primary" href="#">Sign up now</a>
        <hr>
        <div class="image-container_1">
            <img src="~/images/image_3.jpg" alt="Image 1" class="img-fluid" style="width: 500px; height: 500px;">
            <img src="~/images/image_4.jpg" alt="Image 2" class="img-fluid" style="width: 500px; height: 500px;">
            <img src="~/images/image_5.jpg" alt="Image 3" class="img-fluid" style="width: 500px; height: 500px;">

        </div>

    </div>
    <div class="col-md-6">
        <h2>Customer Testimonials</h2>
        <p>Don't just take our word for it - here's what our customers have to say:</p>
        <div class="testimonial">
            <div class="image-container">
                <img src="~/images/image_0.jpg" alt="Image 1" class="img-fluid" style="width: 500px; height: 400px;">
                <img src="~/images/image_1.jpg" alt="Image 2" class="img-fluid" style="width: 500px; height: 400px;">
                <img src="~/images/image_2.jpg" alt="Image 3" class="img-fluid" style="width: 500px; height: 400px;">

            </div>
            <blockquote>
                <p class="animated-header_2">"I love using Booking Software! It's saved me so much time and hassle."</p>
                <cite class="animated-header_2">- Yipeng Lee</cite>
            </blockquote>
            <blockquote>
                <p class="animated-header_2">"Booking Software has revolutionized the way I run my business. It's a game changer!"</p>
                <cite class="animated-header_2">- John Doe</cite>
            </blockquote>
            <blockquote>
                <p class="animated-header_2">"I love using Booking Software! It's saved me so much time and hassle."</p>
                <cite class="animated-header_2">- Lewis Reed</cite>
            </blockquote>
        </div>

    </div>
    <hr>
    <hr>
    <p class="animated-header_3">Booking Software is the perfect solution for businesses that want to streamline their appointment scheduling and booking process. With our easy-to-use software, you can set up your booking form in minutes and start accepting bookings online. Our software comes with a range of customizable features that allow you to tailor the booking process to your specific business needs.</p>

</div>

<hr>

<div class="row">
    <div class="col-md-12">
        <h2>How it Works</h2>
        <p>Booking Software makes it easy for you to manage your appointments and bookings. Simply create an account, set up your booking form, and start accepting bookings! Our software automatically sends out email and text reminders to both you and your clients, making sure everyone stays on schedule.</p>
    </div>
</div>

<script src="~/js/bundle.js"></script>
<script src="~/js/calendaro.js"></script>